<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer-item footer-item-2">
    <h3 class="footer-title footer-title-line"><i class="fa fa-clock-o"></i>{{ "horario.title"|trans|upper }} *</h3>
    <div class="opening-left">
        {{ "horario.monday.name"|trans }}<br>
        {{ "horario.tuesday.name"|trans }}<br>
        {{ "horario.wednesday.name"|trans }}<br>
        {{ "horario.thursday.name"|trans }}<br>
        {{ "horario.friday.name"|trans }} <br>
        {{ "horario.saturday.name"|trans }}<br>
        {{ "horario.sunday.name"|trans }} </div>
    <div class="opening-right">
        {{ "horario.monday.open"|trans }}<br>
        {{ "horario.tuesday.open"|trans }}<br>
        {{ "horario.wednesday.open"|trans }}<br>
        {{ "horario.thursday.open"|trans }}<br>
        {{ "horario.friday.open"|trans }}<br>
        {{ "horario.saturday.open"|trans }} <br>
        {{ "horario.sunday.open"|trans }}</div>
</div>
<div style="color: white">* {{ "horario.extra"|trans|upper }}</div>