<div class="bookform bookform-1" id="bookform1">
    <div class="bookform-left">
        {% include "includes/cita.html.twig" %}
    </div>
    <div class="bookform-right">
        <div class="bookform-right-info-2">
            <h3 class="footer-title footer-title-line" style="color: black"><i class="fa fa-clock-o"></i>{{ "horario.title"|trans|upper }} *</h3>
            <div class="opening-left" style="color: black">
                {{ "horario.monday.name"|trans }}<br>
                {{ "horario.tuesday.name"|trans }}<br>
                {{ "horario.wednesday.name"|trans }}<br>
                {{ "horario.thursday.name"|trans }}<br>
                {{ "horario.friday.name"|trans }} <br>
                {{ "horario.saturday.name"|trans }}<br>
                {{ "horario.sunday.name"|trans }}
            </div>
            <div class="opening-right" style="color: darkslategray">
                {{ "horario.monday.open"|trans }}<br>
                {{ "horario.tuesday.open"|trans }}<br>
                {{ "horario.wednesday.open"|trans }}<br>
                {{ "horario.thursday.open"|trans }}<br>
                {{ "horario.friday.open"|trans }}<br>
                {{ "horario.saturday.open"|trans }} <br>
                {{ "horario.sunday.open"|trans }}
            </div>
            <div>* {{ "horario.extra"|trans|upper }}</div>
        </div>
    </div>
</div>
