{% extends "base.html.twig" %}

{% block title %}{{ especialidade.title }} {% endblock %}
{% block meta_description %}{{ especialidade.description }}{% endblock %}
{% block og_title %}{{ "global.site_name"|trans }} - {{ especialidade.title }}{% endblock %}
{% block og_description %}{{ especialidade.description }}{% endblock %}
{% block og_type %}article{% endblock %}
{% block og_image %}{{ absolute_url(asset('images/tretamientos/' ~ especialidade.image)) }}{% endblock %}

{% block body %}
    <div class="page-title page-title-doctor bg-pattern" data-bgcolor="2BAAA1">
        <div class="page-title-overlay">
            <div class="container">
                <h1>{{ especialidade.title }}</h1>
                <h3>{{ especialidade.description }}</h3>
            </div>
        </div>
    </div>
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <ol class="breadcrumb">
                    <li class="breadcrumb-home"><a href="{{ path('homepage') }}"><i class="fa fa-home"></i></a></li>
                    <li><a href="{{ path('especialidades_list') }}">{{ "especialidades.menu_page_name"|trans }}</a></li>
                    <li class="active">{{ especialidade.title }}</li>
                </ol>
            </div>
        </div>
    </div>

    <div class="container especialidade">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="especialidade-image left col-lg-6 col-md-6 col-sm-5 col-xs-12"> <img src="{{ asset('images/tretamientos/' ~ especialidade.image) }}" alt="{{ especialidade.title }}">
                    <div class="blog-item-text-image-info">
                        {% if especialidade.descriptionPhoto is not empty %}
                            <h4 class="blog-item-text-image-title">{{ especialidade.descriptionPhoto }}</h4>
                        {% endif %}
                        {#<p class="blog-item-text-image-desc">Consectetur adipisicing elit, sed do eiusmod tempor incididunt labore.</p>#}
                    </div>
                </div>
                {{ especialidade.text|raw}}
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                {% include "includes/cita.html.twig" %}
            </div>
        </div>
    </div>


{% endblock %}